:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Outline: hsl(12, 59%, 59%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  min-block-size: 100vh;
  font-size: 1rem;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  background-color: var(--Light-grayish-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
}

img, picture, svg, video {
  display: block;
  max-inline-size: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

input {
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  text-align: right;
  color: var(--Very-dark-cyan);
  font-size: 24px;
}
input::placeholder {
  color: var(--Dark-grayish-cyan);
}
input:focus {
  outline-color: var(--Strong-cyan);
}
input:hover {
  cursor: pointer;
}

label, legend {
  color: var(--Very-dark-cyan);
}

.splitter__error {
  color: var(--Outline);
  font-size: 12px;
}

.splitter__outline {
  outline: 2px solid var(--Outline);
}

.splitter__title {
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 86px;
}
@media screen and (max-width: 500px) {
  .splitter__title {
    margin-bottom: 30px;
  }
}

.splitter__section-wrapper {
  margin: auto;
  background-color: var(--White);
  border-radius: 20px;
  max-inline-size: 922px;
  padding: 32px 32px 32px 48px;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.splitter__inputs {
  flex: 1 380px;
  padding-top: 14px;
}

.splitter__bill-wrapper {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  position: relative;
}
.splitter__bill-wrapper input {
  background: url("../images/icon-dollar.svg") no-repeat left 14px center, var(--Very-light-grayish-cyan);
  inline-size: 100%;
}
.splitter__bill-wrapper span {
  position: absolute;
  top: 4px;
  right: 0;
}
@media screen and (max-width: 500px) {
  .splitter__bill-wrapper span {
    top: 86px;
  }
}

.splitter__tip-wrapper {
  margin-bottom: 36px;
}

.splitter__tip {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  border: none;
  padding-top: 16px;
}
.splitter__tip button {
  flex: 1 116px;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 24px;
}
.splitter__tip button:hover {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.splitter__tip button.active {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.splitter__tip div {
  position: relative;
  flex: 1 116px;
}
.splitter__tip div input {
  inline-size: 100%;
  background: var(--Very-light-grayish-cyan);
}
.splitter__tip div span {
  inline-size: max-content;
  position: absolute;
  bottom: -18px;
  right: 0;
}

.splitter__people-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  position: relative;
}
.splitter__people-wrapper input {
  background: url("../images/icon-person.svg") no-repeat left 14px center, var(--Very-light-grayish-cyan);
  inline-size: 100%;
}
.splitter__people-wrapper span {
  position: absolute;
  top: 4px;
  right: 0;
}
@media screen and (max-width: 500px) {
  .splitter__people-wrapper span {
    top: 86px;
  }
}

.splitter__output {
  flex: 1 414px;
  background-color: var(--Very-dark-cyan);
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.splitter__output button {
  text-transform: uppercase;
  padding: 14px 0;
  border: none;
  border-radius: 8px;
}
.splitter__output button:disabled {
  cursor: not-allowed;
  background-color: hsl(183, 80%, 24%);
  color: var(--Very-dark-cyan);
}
.splitter__output button:enabled {
  cursor: pointer;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.splitter__output button:hover {
  background-color: hsl(173, 61%, 76%);
}
@media screen and (max-width: 500px) {
  .splitter__output {
    padding-bottom: 15px;
  }
}

.splitter__tip-amount {
  margin-bottom: 28px;
}

.splitter__total {
  margin-bottom: 112px;
}
@media screen and (max-width: 500px) {
  .splitter__total {
    margin-bottom: 30px;
  }
}

.splitter__tip-amount, .splitter__total {
  display: flex;
  align-items: center;
  color: var(--Light-grayish-cyan);
}
.splitter__tip-amount h2, .splitter__total h2 {
  flex: 1 auto;
}
.splitter__tip-amount h2 span, .splitter__total h2 span {
  color: var(--Dark-grayish-cyan);
  font-size: 14px;
}
.splitter__tip-amount p, .splitter__total p {
  flex: 1 auto;
  text-align: right;
  font-size: 48px;
  color: var(--Strong-cyan);
}
@media screen and (max-width: 500px) {
  .splitter__tip-amount p, .splitter__total p {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  .splitter__tip-amount p, .splitter__total p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
